{% extends '../index.html' %}

{% block title %}World of Words Main{% endblock %}

{% block create-post %}
<section>
    <div class="container">
        <main class="create-post-style form-signin w-100 m-auto main-blog-style">
            <div id="content" class="colM">
                <h1>Додати Запис</h1>
                <div id="content-main">
                    <form enctype="multipart/form-data" method="post" id="post_form" action="{% url 'create_post_user' %}" novalidate>
                        {% csrf_token %}
                        <div>
                            <fieldset class="module aligned">
                                <div class="form-row field-title">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_title">Заголовок поста:</label><br><br>
                                            <input type="text" name="title" class="form-control input-style vTextField" maxlength="70" required id="id_title"><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row field-description">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_description">Текст поста:</label><br><br>
                                            <textarea name="description" cols="40" rows="10" class="form-control textarea-style vLargeTextField" required id="id_description" spellcheck="false"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-row field-author">
                                    <div>
                                        <div class="flex-container">
                                            <label class="required" for="id_author">Ім'я автора:</label><br><br>
                                            <input type="text" name="author" class="form-control input-style vTextField" maxlength="60" required id="id_author">
                                        </div>
                                    </div>
                                </div> -->
                                <div class="form-row field-img">
                                    <div>
                                        <div class="flex-container">
                                            <label for="id_img">Зображення:</label><br>
                                            <input class="button-img" type="file" name="img" accept="image/*" id="id_img"><br><br>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="submit-row">
                            <button type="submit" enctype="multipart/form-data" value="Зберегти" class="button-submit default primary-btn" name="_save">Зберегти</button>
                        </div>
                        <script id="django-admin-form-add-constants" src="/static/admin/js/change_form.js" data-model-name="post" async></script>
                        <script id="django-admin-prepopulated-fields-constants" src="/static/admin/js/prepopulate_init.js" data-prepopulated-fields="[]"></script>
                        {{ form.errors }}
                    </form>
                </div>
                <br class="clear">
            </div>
        </main>
    </div>
</section>
{% endblock %}
