{% extends '../index.html' %}

{% block title %}World of words main {% endblock %}

{% block profile %}
<section>
  <div class="container">
      <main class="form-signin w-100 m-auto profile main-blog-style">
        <div class="main-profile">
          <div class="line-element">
            <h1 class="h3 mb-3 fw-normal profile-title">Ваш акаунт</h1>
            <a href="{% url 'create_post' pk=user.pk %}"><button type="button" 
              class="btn btn-primary w-100 py-2 input secondary-btn">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Створити пост</font></font></button></a>
          </div>
          <ul class="profile-info"></ul>

          <a id="logout" class="logout-btn btn btn-primary w-100 py-2 input primary-btn">Вийти</a>
        </div>
      </main>
    </div>
</section>
{% endblock %}