# IDE / Editor
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.log

# Virtual environment
venv/
ENV/

# Environment
.env
*.env

# Migrations
blog_api/migrations/*
!*/migrations/init.py

# Static / Media (якщо генерується або динамічно додається)
/media/image/temp/*
!/media/image/temp/.gitkeep

/media/image/avatars/*
!/media/image/avatars/.gitkeep

/media/image/users_media/*
!/media/image/users_media/.gitkeep

staticfiles/

# Docker / DB
postgres_data/
db.sqlite3

# Local cache or temp
*.bak
*.swp
*.tmp
*.DS_Store
Thumbs.db

# Docker-related
*.pid
*.sock
docker/nginx/*.log
docker/nginx/*.pid

# Others
.cadence/

# Plagin on mac
.start
