{% extends '../index.html' %}
{% load static %}

{% block title %}Реєстрація{% endblock %}

{% block registration %}
<section class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <form class="mt-5" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal text-center">Регістрація</h1>
                <div class="form-floating mb-3">
                  <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Login">
                  <label for="floatingInput">Ім'я</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="password1" class="form-control" id="pwd1" placeholder="Password">
                  <label for="pwd1">Пароль 1</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="password2" class="form-control" id="pwd2" placeholder="Password">
                  <label for="pwd2">Пароль 2</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                  <label for="email">Пошта</label>
                </div>
                
                {{ form.errors }}
                <button class="btn btn-primary w-100 py-2" type="submit">Зареєструватися</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
