{% extends '../index.html' %}

{% block title %}World of words main {% endblock %}

{% block blog %}
<section>
    <ul class="all-post">
        <div class="own-container">
            {% for post in post_list %}
                <div class="container-item">
                    <li class="post">
                        <a class="post-title post-item" href="{{post.id}}"><h3>{{post.title}}</h3></a>
                        {% if post.img %}
                            <img class="post-image post-item" src="{{post.img.url}}" width="200px" height='200px' style="border-radius: 20px;">
                        {% endif %}
                        <p class="post-description post-item">{{post.description}}</p>
                        <p class="post-author post-item">{{post.author}}</p>
                    </li>
                </div>
            {% endfor %}
        </div>


        <div class="own-container">
            {% for user_post in user_post_list %}
                <div class="container-item">
                    <li class="post">
                        <a class="post-title post-item" href="{{post.id}}"><h3>{{user_post.title}}</h3></a>
                        {% if user_post.img %}
                            <img class="post-image post-item" src="{{user_post.img.url}}" width="200px" height='200px' style="border-radius: 20px;">
                        {% endif %}
                        <p class="post-description post-item">{{user_post.description}}</p>
                        <p class="post-author post-item">{{user_post.author}}</p>
                    </li>
                </div>
            {% endfor %}
        </div>
    </ul>
</section>
{% endblock %}