{% extends '../index.html' %}

{% block title %}World of words main {% endblock %}

{% block blog %}
<section>
    <div class="all-post">
        <h2 class="title-posts">Пости</h2>
        <div class="own-container">

        </div>
    </div>
    <div class="pagination">
        <button id="first">« Перша</button>
        <button id="prev">‹ Назад</button>

        <p id="current">1</p>

        <button id="next">Вперед ›</button>
        <button id="last">Остання »</button>
    </div>
    <div class="costil container-detail"></div>
</section>
{% endblock %}
