{% extends '../index.html' %}

{% block title %}World of words main {% endblock %}

{% block blog %}
<section>
        <main class="main">
            <div class="container container-detail container-item-deteil post">
                <div class="container-item-deteil">
                    <div class="post-detail">
                        <a class="post-title post-detail-title post-item" href="{{post.id}}"><h3>{{post.title}}</h3></a>
                        <p class="post-description post-detail-description post-item">{{post.description}}</p>
                        <p class="post-author post-detail-author post-item">{{post.author}}</p>
                        <p class="post-date post-detail-date post-item">{{post.date}}</p>
                        <div class="like">
                            <a class="like-batton" href="{% url 'add_likes' post.id %}"><img src="../../media/favorite+.png" width="40"></a>
                            <p class="like-count">{{ post.likes_set.all.count }}</p>
                        </div>
                    </div>
                    <div class="img-container">
                        {% if post.img %}
                            <img class="post-image post-detail-image post-item" src="{{post.img.url}}" width="400" style="border-radius: 20px;">
                        {% endif %}
                    </div>
                </div>

                
                <!-- <section class="content-item" id="comments">
                    <div class="container">   
                        <div class="row">
                            <div class="col-sm-8">   
                                <form>
                                    <h3 class="pull-left">New Comment</h3>
                                    <button type="submit" class="btn btn-normal pull-right">Submit</button>
                                    <fieldset>
                                        <div class="row">
                                            <div class="col-sm-3 col-lg-2 hidden-xs">
                                                <img class="img-responsive" src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                                            </div>
                                            <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                                <textarea class="form-control" id="message" placeholder="Your message" required=""></textarea>
                                            </div>
                                        </div>  	
                                    </fieldset>
                                </form>
                                <div class="comment-finished">
                                    <h2 class="comment-finished-title"><br>comment<br></h2>
                                    {% for comment in post.comments_set.all %}
                                        <h4 class="comment-finished-user-name">{{ comment.name }}</h4>
                                        <p class="comment-finished-user-text-comments">{{ comment.text_comments }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

                <div class="comment">
                    <div class="comment-criete">
                        <form class="comment-criete-item" action="{% url 'add_comments' post.id %}" method="post">
                            {% csrf_token %}
                            {% if request.user.is_active == 1 %}
                                <p class="comment-criete-item-text-name">ваше імя - {{ request.user }}</p>
                                <!-- <input type="text" name="nam" value="{{ request.user }}"> -->

                                <p class="comment-criete-item-text-text-comments">Ваш коментар</p>
                                <textarea class="comment-criete-item-input-text-comments" name="text_comments"></textarea>
                                <input class="comment-criete-item-submit" type="submit">
                            {% else %}
                                <p>no</p>
                            {% endif %}
                        </form>
                    </div>
                    <div class="comment-finished">
                        <h2 class="comment-finished-title"><br>comment<br></h2>
                        {% for comment in post.comments_set.all %}
                            <h3 class="comment-finished-user-name">{{ comment.name }}</h3>
                            <p class="comment-finished-user-text-comments">{{ comment.text_comments }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </section>
{% endblock %}