{% extends '../index.html' %}
{% load static %}

{% block title %}World of Words Main{% endblock %}

{% block blog %}
<section class="container">
    <h2 class="mb-4">Пости адміністрації</h2>
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                {% if post.img %}
                  <img src="{{ post.img.url }}" class="card-img-top" alt="{{ post.title }}">
                {% else %}
                  <img src="{% static 'images/default-placeholder.png' %}" class="card-img-top" alt="Placeholder">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.id }}">{{ post.title }}</a></h5>
                    <p class="card-text">{{ post.description }}</p>
                    <p class="text-muted">{{ post.author }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
